.nav {
  grid-area: n;
  background-color: rgb(250, 171, 211);
  padding: 25px;
}

.nav a {
  text-decoration: none;
  margin: 5px;
  color:rgb(120, 5, 187);
}

.nav .active {
  color: blanchedalmond;
}